services:
  database:
    image: postgis/postgis:latest
    container_name: database
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      #- postgres-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '${DB_PORT}:5432'

  project-backend:
    container_name: project-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8000:3000'
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - database

volumes:
  postgres-data:
